<%= render "shared/errors", obj: @animator %>

<%= form_for @animator do |f| %>
    <p>
      <%= f.label :first_name %><br/>
      <%= f.text_field :first_name %>
    </p>

    <p>
      <%= f.label :last_name %><br/>
      <%= f.text_field :last_name %>
    </p>

    <p>
      <%= f.submit %>
    </p>
<% end %>

<%= link_to 'Annuler et revenir à la liste des animateurs', animators_path %>