
<div class="col-md-12">
  <%= render "shared/errors", obj: @animator %>
  <%= form_for(@animator, :html => {class: "form-horizontal", role: "form"}) do |f| %>
      <div class="form-group">
        <div class="col-sm-12">
          <%= f.label :first_name %>
        </div>
        <div class="col-sm-6">
          <%= f.text_field :first_name, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12">
          <%= f.label :last_name %><br/>
        </div>
        <div class="col-sm-6">
          <%= f.text_field :last_name, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12">
        <%= f.submit class: "btn btn-info" %>
        </div>
      </div>
  <% end %>

  <%= link_to 'Annuler et revenir à la liste des animateurs', animators_path %>

</div>
