

<div class="col-md-12">
  <h1>Quelques profils d'animateurs</h1>
  <% if logged_in? && current_user.admin? %>
    <%= link_to "Create new animator", new_animator_path %>
  <% end %>
</div>

<% @animators.each do |animator| %>
  <div class="col-md-3">
    <%= animator.first_name %>
    <%= animator.last_name %>
    <%= link_to 'Show', animator_path(animator) %>
    <% if logged_in? && current_user.admin? %>
        <%= link_to 'Edit', edit_animator_path(animator) %>
        <%= link_to 'Delete', animator_path(animator), method: :delete, data: {confirm: 'Are you sure?'} %>
    <% end %>
  </div>
<% end %>


<div class="col-md-12">Voir tous les profils disponibles</div>