

<div class="col-md-12">

</div>

<div class="row">
  <div class="col-md-12 animators_heading">
    <div>
      <h3>Tous les profils d'animateurs</h3>
    </div>
    <div>
      <% if logged_in? && current_user.admin? %>
          <%= link_to new_animator_path do %>
              <%= content_tag :div, "+ créer un nouvel animateur", class: "btn btn-blue btn-lg"%>
          <% end %>
      <% end %>
    </div>
  </div>
  <% @animators.each do |animator| %>
      <div class="col-md-3 card_container">
        <%= link_to animator_path(animator) do %>
            <div class="card_container_img" style="background: #ED4378 url(https://unsplash.it/300/?image=<%= animator.id * rand(5..30)%>) no-repeat center; background-size: cover;">
            </div>
            <%= content_tag :div, "#{animator.first_name} #{animator.last_name}", class: "card_container_content"%>
            <div>
            <% if logged_in? && current_user.admin? %>
               <div class="admin-btns">
                <%= link_to 'Modifier', edit_animator_path(animator), class: "btn btn-sm btn-info" %>
                <%= link_to 'Supprimer', animator_path(animator), method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-sm btn-danger" %>
               </div>
            <% end %>
            </div>
        <% end %>
      </div>
  <% end %>

</div>
