<h1>Showing all Animators</h1>

<%= link_to "Create new animator", new_animator_path %>
<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
  </tr>
  <% @animators.each do |animator| %>
    <tr>
      <td><%= animator.first_name %></td>
      <td><%= animator.last_name %></td>
      <td><%= link_to 'Edit', edit_animator_path(animator) %></td>
      <td><%= link_to 'Show', animator_path(animator) %></td>
    </tr>
  <% end %>
</table>