<div class="col-md-3 profile_pic_user">
  <%= profile_pic_for @animator %>
</div>

<div class="col-md-9">
  <h1><%= @animator.first_name %> <%= @animator.last_name %></h1>
  <p>
    <b>Prénom</b> <%= @animator.first_name %>
  </p>
  <p>
    <b>Nom</b> <%= @animator.last_name %>
  </p>

  <div>
  <% if logged_in? && !current_user.admin? %>
      <div class="btn btn-lg btn-blue">Contacter cet animateur</div>
  <% end %>
  <% if logged_in? && current_user.admin? %>
    <%= link_to 'Editer cet animateur', edit_animator_path(@animator), class: "btn btn-lg btn-blue" %>
  <% end %>
  </div>
</div>
