<%= render "shared/errors", obj: @user %>

<div class="col-md-12">
  <h1>Inscription</h1>
</div>

<div class="col-md-4">

  <% if !logged_in? %>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Je suis un centre de loisirs</a></li>
    <li role="presentation" class="disabled"><a href="#profile" aria-controls="profile" role="tab">Je suis un animateur</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
  <% end %>
      <%= form_for @user do |f| %>
          <p>
            <%= f.label :email %><br/>
            <%= f.email_field :email %>
          </p>

          <p>
            <%= f.label :first_name %><br/>
            <%= f.text_field :first_name %>
          </p>

          <p>
            <%= f.label :last_name %><br/>
            <%= f.text_field :last_name %>
          </p>

          <p>
            <%= f.label :password %><br/>
            <%= f.password_field :password %>
          </p>
          <p>
            <%= f.submit(@user.new_record? ? "Sign Up" : "Save Changes", class: 'btn btn-primary') %>
          </p>
      <% end %>
  <% if !logged_in? %>
    </div>
    <div role="tabpanel" class="tab-pane" id="profile">...</div>
  </div>
  <% end %>

</div>

