
<div class="row">
<div class="col-md-8">
  <div class="home_hero">
    <h1>
      <span class="brand_text">AnimExpress</span>
      Trouvez rapidement un animateur disponible pour votre centre de loisirs
    </h1>
  </div>
</div>
</div>

<div class="row">
    <div class="col-md-12">
      <h3>Derniers animateurs inscrits:</h3>
    </div>
    <% @animators.limit(4).each do |animator| %>
      <div class="col-md-3 card_container">
        <%= link_to animator_path(animator) do %>
            <div class="card_container_img" style="background: url(https://unsplash.it/300/?image=<%= animator.id * rand(5..30)%>)">
            </div>
            <%= content_tag :div, "#{animator.first_name} #{animator.last_name}", class: "card_container_content"%>

      <% end %>
      </div>
    <% end %>

    <%= link_to animators_path do %>
        <%= content_tag :div, "Voir tous les profils disponibles", class: "col-md-12"%>
    <% end %>
</div>
